body {
    font-family: Arial;
    background: #f3f3f3;
    text-align: center;
}

.login-box {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #ff9900;
    border: none;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
}

.product img {
    width: 100%;
}
